#img .content{
	display:block;
	position: relative;
	text-align: center;
	color: white;
}
.landing{
	background-image: url(../img/home_mc.png);
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
.landing404{
    background-image: url(../img/404.gif);
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vh;
}
#img .text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 25%;
    right: 25%;
    bottom: 50%;
}
.row {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.column2 {
  flex: 50%;
}

.landingTitle {
	color:#fff;
	font-size:100px;
}
.landingSubText {
	color:#fff;
	font-size:30px;
}


@media screen and (max-width: 600px) {
        .landing404{
            background-image: url(../img/404_m.gif);
        }
		.landingTitle{
			font-size: 130%;
		}
		.landingSubText {
			font-size: 50%;
		}
		
}