body{
    background-color:#1e1e1e;
    color: #b1b1b1;
}
h1{
	font-size: 70px;
    text-decoration-color: #5f8989;
    text-decoration-line: underline;
}
h2{
	font-size: 50px;
}
h3{
	font-size: 30px;
}
p {
	font-size: 20px;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height:22px;
    word-break: break-word;
    padding: 5px;
}
details{
    background: black;
    border-radius: 10px;
    font-size: 20px;
    margin: 25px;
}
summary{
    font-weight: bold;
    padding: 10px;
    background: #2c2c2c;
}
tr:nth-child(even) {
  background-color: #121212;
}
tr{
    background-color: #202020;
}
td{
    font-size: 20px;
    padding: 5px;
}
th{
    text-align: left;
    padding: 10px;
    font-size: 24px;
}
.hr{
    border-color: #006ecd;
}
#sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color:#121212;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 25px 0px;
    font-size: 20px;
    font-weight: bold;

}

#sidebar a, .dropdown{
    color: #b1b1b1;
    display: block;
    padding: 16px;
    text-decoration: none;
    padding-left: 8px;
}
.dropdown-container {
    display: none;
}
.dropdown-a {
    color: #8b8b8b !important;
    padding: 12px !important;
    font-weight: normal;
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}

.content{
    margin-left: 250px;
	border-radius: 0px 25px;
	padding: 20px;
	display: block;
	background-color: #1a1919;
}

.imageLeft{
}
.imageRight{
}

.a{
	color: #62b3f5;
	text-decoration: none;
}
.a:visited{
	color:#728ba0;
}
.code{
    font-weight: bold;
    color: #aac100;
}

.webRoute{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 4px 8px 1.5px;
    border-radius: 12px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}
.POST{
    background-color: #9e7307;
    border: 2px solid #000000;
}
.GET{
    background-color: #185192;
    border: 2px solid black;
}
.PATCH{
    background-color: #209258;
    border: 2px solid #000000;
}
.DELETE{
    background-color: #932626;
    border: 2px solid #000000;
}
.red{
    background-color: #932626;
    border: 2px solid #de8181;
}
.orange{
    background-color: #6a4603;
    border: 2px solid orange;
}
.additionalInfo{
    padding: 5px;
    color: white;
    margin-top: 10px;
}
.textContent{
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 100px;
}

.copy{
    cursor: pointer;
}

.spanMargin{
    font-size:24px;
}
.marginLow{
    margin-bottom:60px;
}